<footer class="footer">
    <div class="footer__container">
        <div class="footer__copyrights-block">
            <span class="footer__copyrights">© 2017 Blog and Web</span>
        </div>
    </div>

</footer>
