

<header class="header">
    <div class="header__container">
        <div class="header__top">
            <nav class="header__navigation">
                <ul class="header__navigation-list">
                    <li class="header__navigation-item"><a href="/" class="header__navigation-link header__navigation-link_active">Home</a></li>
                    <li class="header__navigation-item"><a href="#" class="header__navigation-link">About</a></li>
                </ul>
            </nav>
            <div class="header__social-block">
                <ul class="header__social-list">
                    <li class="header__social-item"><a href="#" class="header__social-link header__social-link_name_facebook"></a></li>
                    <li class="header__social-item"><a href="#" class="header__social-link header__social-link_name_pinterest"></a></li>
                    <li class="header__social-item"><a href="#" class="header__social-link header__social-link_name_tweeter"></a></li>
                    <li class="header__social-item"><a href="#" class="header__social-link header__social-link_name_instagram"></a></li>
                </ul>
            </div>
        </div>
        <div class="header__bottom">
            <h1 class="header__logo">Blog and Web</h1>
            <img src="img/header-pic.webp" alt="" class="header__picture">
        </div>
    </div>
</header>

