.header
  width 100%
  height auto

.header__container
  width 980px
  margin 0 auto

.header__top
  display: flex
  flex-flow row nowrap
  justify-content space-between
  width 100%
  padding-top 75px

.header__navigation
  height: 35px
  margin-left: -14px

.header__navigation-list
  display: flex
  flex-flow row nowrap
  justify-content flex-start
  height: 100%
  margin: 0
  padding: 0
  list-style none

.header__navigation-link
  padding: 0 14px
  font-size: 13px
  color textColor
  line-height 35px
  text-align: center
  text-decoration: none
  text-transform: uppercase
  transition all 0.3s
  &:hover
    color: hoverLinkColor

.header__navigation-link_active
  color hoverLinkColor

.header__social-block
  height: 35px

.header__social-list
  display: flex
  flex-flow row nowrap
  justify-content space-between
  width: 100px
  height: 35px
  list-style none
  margin: 0
  padding: 0
  padding: 8px 0

.header__social-link
  display: block
  width 19px
  height: 19px
  background-image url("..//img/icon.png")

.header__bottom
  position: relative

.header__logo
  position: absolute
  left 50%
  top: -50px
  width: 404px
  height: 76px
  margin: 0
  margin-left: -202px
  border 5px solid textColor
  font-size: 33px
  font-weight: 700
  text-align: center
  text-transform: uppercase
  color textColor
  text-decoration: none
  letter-spacing: 9.9px;
  line-height: 66px
  background-color backgroundColor
  user-select none
  cursor default

.header__picture
  user-select none
  pointer-events none